<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- namespace:映射的接口的全名 -->
<mapper namespace="cn.tedu.mybatis.mapper.DepartmentMapper">
	<!-- id:节点的唯一标识 -->
    <!-- type：数据类型 -->
 <resultMap id="DepartmentVoMap" type="cn.tedu.mybatis.vo.DepartmentVO">
 <!-- id节点：主键的配置 -->
<!-- column：查询结果的列名 -->
<!-- property：数据类型的属性名 -->
 <id column="dep_id" property="depId"/>
 <!-- 其它结果的配置 -->
 <result column="name" property="depName"/>
 <!-- collection:配置List集合 -->
 <!-- ofType：集合中放的哪种类型的数据 -->
 <collection property="users" ofType="cn.tedu.mybatis.entity.User">
 <!-- 自此开始，property表示User中的属性名 -->
 <id property="id" column="id"/>

<result property="username" column="username"/>

<result property="password" column="password"/>

<result property="age" column="age"/>

<result property="phone" column="phone"/>

<result property="email" column="email"/>

<result property="is_delete" column="isDelete"/>
 </collection>
 </resultMap>
<select id="findById" resultMap="DepartmentVoMap">
	select
	t_user.id,username,password,age,phone,email,is_delete,
	t_department.id as dep_id,name
	from
	t_user
	inner join
	t_department
	on t_user.department=t_department.id
	where
	t_department.id=#{id}
</select>
</mapper>
